<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="jira_analyst" data-view="List" data-unordered="true" data-title="Jira Info" data-moreinfo="# automatically updates this section in every 20 minutes"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="3" data-sizey="2">
      <div data-id="github_analyst" data-view="List" data-unordered="false" data-title="Github Info" data-moreinfo="# automatically updates this section in every 60 minutes" style="background-color: #32711b"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="3" data-sizey="2">
      <div data-id="releases_analyst" data-view="List" data-unordered="true" data-title="Deployment Info" data-moreinfo="# automatically updates this section in every 60 minutes" style="background-color: #a7961d"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="buzzwords" data-view="List" data-unordered="true" data-title="OPS Info" data-moreinfo="# automatically updates this section in every 20 minutes"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="buzzwords" data-view="List" data-unordered="true" data-title="Data Changes" data-moreinfo="# automatically updates this section in every 20 minutes"></div>
    </li>
  </ul>
</div>
<script type='text/javascript'>
$(function() {
  Dashing.widget_base_dimensions = [370, 340]
  Dashing.numColumns = 5
});
</script>