<% content_for :title do %>Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="jira_internal" data-view="List" data-unordered="true" data-title="Jira Info" data-moreinfo="# automatically updates this section in every 20 minutes"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="3" data-sizey="2">
      <div data-id="github_internal" data-view="List" data-unordered="false" data-title="Github Info" data-moreinfo="# automatically updates this section in every 60 minutes" style="background-color: #32711b" ></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="3" data-sizey="2">
      <div data-id="releases_internal" data-view="List" data-unordered="true" data-title="Deployment Info" data-moreinfo="# automatically updates this section in every 60 minutes" style="background-color: #a7961d"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="buzzwords" data-view="List" data-unordered="true" data-title="OPS Info" data-moreinfo="# automatically updates this section in every 20 minutes"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="buzzwords" data-view="List" data-unordered="true" data-title="Data Changes" data-moreinfo="# automatically updates this section in every 20 minutes"></div>
    </li>
  </ul>
</div>
